body {
	width: 304px;
	font-family: 'Russo One', sans-serif;
	margin: auto;
	background-color: #EFF2FF;
}

.calc{
	display: inline-block;
	background-image: linear-gradient(#8E96B2, #515A7A);
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 25px;
}
.result {
	margin: auto;
	border: 1px solid black;
	border-radius: 5px;
	height: 70px;
	width: 304px;
	background-color: #D2D8EB;
	float:left;
	text-align: right;

}
.num {
	height: 70px;
	width: 70px;
	background-color: #DAE1FF;
}
.znak, .eq, .kasuj{
	height: 70px;
	width: 70px;
	background-color: #95A1CA;
}
.num, .znak, .eq, .kasuj{
	border-radius: 5px;
	margin: 2px;
	float:left;
	text-align: center;
	border: 1px solid black;
}